body {
  background-color: #999999;
}

main {
  /* margin-left: 268px;
  margin-right: 268px; */
}

.flash-container {
  height: 40px;
}

.flash-container p {
  margin-bottom: 0px;
}

#debug-text {
  margin: 0px;
}

canvas {
  background-color: #000000;
  border: 5px solid #000000;
}

label {
  font-weight: bold;
}

table {
  border-color: #000000 !important;
}

div.target-card {
  border: 1px solid #000000;
}

/* thead.table-dark th {
  border-top-color: #000000 !important;
  border-bottom-color: #000000 !important;
}

ul.nav.nav-tabs {
  border-color: #000000 !important;
}

ul.nav.nav-tabs li.nav-item button.nav-link.active {
  background-color: #444444;
  color: #ffffff;
  border-color: #000000 !important;
}

ul.nav.nav-tabs li.nav-item button.nav-link:hover {
  border-color: #000000 !important;
} */

